<div class="modal-header">
    <h5>Atualizar Cliente</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <form [formGroup]="clienteForm">
    <label for="">Nome</label>
    <input class="form-control" type="text" formControlName="nome">
    <label for="">Endereco</label>
    <input class="form-control" type="text" formControlName="endereco">
    <label for="">Telefone</label>
    <input class="form-control" type="text" formControlName="telefone">
  </form>
  <br>
  <button class="form-control btn btn-secondary btn-lg btn-block" (click)="alteraCliente()">Alterar Cliente</button>

</div>