<app-sidebar>
</app-sidebar>
<div class="container">
    <div class="row">
        <div class="col-sm-4" [formGroup]="produtoForm">
            <h3>Adicionar Produto</h3>
            <label for="">Nome</label>
            <input class="form-control" type="text" formControlName="nome">
            <label for="">Quantidade</label>
            <input class="form-control" type="text" formControlName="quantidade">
            <label for="">Valor Compra</label>
            <input class="form-control" type="text" formControlName="valor_compra">
            <label for="">Valor Venda</label>
            <input class="form-control" type="text" formControlName="valor_venda">
            <br>
            <button class="btn btn-secondary" (click)="criarProduto()">Adicionar produto</button>
            <br><br>
            <div class="alert alert-primary" role="alert" *ngIf="produtoCriado">
                Produto Adicionado com Sucesso!
            </div>
        </div>
        <div class="col-sm-4">
            <h3>Produtos</h3>
            <input (keyup)="pesquisarProdutosTabela($event)"
                   class="form-control typeahead-produtos">
            <table class="table table-striped tb-produtos">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Valor</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let produto of produtos; let i = index" (click)="chamaModalEditarProduto(produto.id)">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.quantidade}}</td>
                    <td>{{produto.valor_venda}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <h5>Adicionar Quantidades Nos Produtos</h5>
    <div class="row">
        <div class="col">
            <input type="text"
                   [(ngModel)]="asyncSelected"
                   [typeaheadAsync]="true"
                   [typeahead]="dataSource"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   (typeaheadOnSelect)="typeaheadOnSelect($event)"
                   [typeaheadOptionsLimit]="7"
                   typeaheadOptionField="nome"
                   class="form-control">
            <div *ngIf="typeaheadLoading">Loading</div>
        </div>
    </div>
</div>


