.login {
  margin-top: 10%;
  margin-left: 30%;
  text-align: center;
  background-color: gray;
  height: 50%;
  border-radius: 5px;
}

.logo{
  margin-top: 15%;
}

.btn-login {
  margin-top: 20%;
  margin-bottom: 5%;
}

.usuario {
  margin-top: 15%;
  text-align: center;
}

.fav-usuario {
  margin-top: 2%;
}

.fav-senha {
  margin-top: 2%;
}

