<div class="container">
    <div class="login d-flex justify-content-center align-items-center">
        <div class="col-sm-4 login_box">
            <form action="" [formGroup]="loginForm">
                <div class="d-flex justify-content-center mb-3">
                    <img class="logo text-center" src="assets/petgula.png" alt="">
                </div>

                <div class="d-flex justify-content-start align-items-center usuario">
                    <div class="fav-usuario pr-2">
                        <i class="fas fa-user "></i>
                    </div>
                    <div class="flex-grow-1">
                        <input class="form-control input-login" type="text" formControlName="username" placeholder="usuário">
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-start align-items-center password">
                    <div class="fav-senha pr-2">
                        <i class="fas fa-key"></i>
                    </div>
                    <div class="flex-grow-1">
                        <input class="form-control" type="password" formControlName="password" placeholder="••••••••••••">
                    </div>
                </div>
                <button class="btn btn-secondary btn-block mt-5" (click)="login()">Entrar</button>
            </form>
        </div>
    </div>
</div>