<div id="mySidenav" class="sidenav">
    <a class="fa fa-user-circle"> {{usuario}}</a>


    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="vendas">Vendas</a>
    <a href="produtos">Produtos</a>
    <a href="clientes">Clientes</a>
    <a href="resumos">Resumo</a>
    <a href="#">Contact</a>
    <br>
    <a href="" class="fas fa-door-open" (click)="sair()"> Sair </a>

    <div>
        <a><small>Valor Gaveta: R$ {{caixa}}</small> </a>
    </div>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" (click)="openNav()"
  >&#9776;</span
  >
</div>

