<app-sidebar>
</app-sidebar>
<div class="container">
    <div class="row">
        <div class="col-sm-4" [formGroup]="clienteForm">
            <h3>Adicionar Cliente</h3>
            <label for="">Nome</label>
            <input class="form-control" type="text" formControlName="nome">
            <label for="">Endereco</label>
            <input class="form-control" type="text" formControlName="endereco">
            <label for="">Telefone</label>
            <input class="form-control" type="text" formControlName="telefone">
            <br>
            <button class="btn btn-secondary" (click)="novoCliente()">Adicionar Cliente</button>
            <br><br>
            <div class="alert alert-primary" role="alert" *ngIf="clienteCriado">
                Cliente Adicionado com Sucesso!
            </div>
        </div>
        <div class="col-sm-4">
            <h3>Clientes</h3>
            <table class="table table-striped tb-clientes">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">Telefone</th>
                </tr>
                </thead>
                <tbody>
                <tr (click)="alterarCliente(cliente.id)" *ngFor="let cliente of clientes; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.endereco}}</td>
                    <td>{{cliente.telefone}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
